.profile__info-edit-button {
  background-image: url(../../../images/info-edit-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: opacity 0.1s ease-in-out 0.1s;
  cursor: pointer;
}

.profile__info-edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 688px) {
  .profile__info-edit-button {
    width: 18px;
    height: 18px;
    /*top: 25%;*/
    margin-left: 10px;
  }
}