.element__like-button_active {
  background-image: url(../../../../images/like-button_active.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 18px;
  border: none;
  padding: 0;
  background-color: white;
  align-self: center;
  transition: opacity 0.1s ease-in-out 0.1s;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.6;
}